.dateContainer {
  padding: 5px;
  margin-left: 395px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 500;
}

.timeContainer {
  margin-left: 6px;
  font-size: 13px;
  color: #616161;
}

.deleteContainer {
  color: #04d1d1;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.deleteContainer:hover {
  color: aqua;
}

@media (max-width: 768px) {
  .dateContainer {
    padding: 5px;
    margin-left: 171px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
  }
}
